###############################################################
# References
###############################################################
version: 2.1
references:
  restore-npm-cache: &restore-npm-cache
    restore_cache:
      keys:
        # when lock file changes, use increasingly general patterns to restore cache
        - npm-packages-v1-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
        - npm-packages-v1-{{ checksum "package.json" }}
        - npm-packages-v1-

  save-npm-cache: &save-npm-cache
    save_cache:
      paths:
        - node_modules/
      key: npm-packages-v1-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}

###############################################################
# Workflows
###############################################################
workflows:
  # Trigger workflow for last commit (merge commits) to master
  # Run unit tests for sanity and if all looks good run semantic release
  # Semantic release will decide based on commit messages if another release is needed
  # Always run unit tests on master
  automatic-semantic-release:
    jobs:
      - verify-unit-tests:
          filters:
            branches:
              only:
                - master
      - run-semantic-release:
          context: uport-open-automation
          requires:
            - verify-unit-tests
          filters:
            branches:
              only:
                - master
            tags:
              # Would be good if we can ignore tagged commits but it won't trigger another build so it's fine
              ignore: /.*/

  # This gets triggers on every push to all branches except master
  # It verifies the branch, runs unit tests and coverage
  verify-test-build:
    jobs:
      - verify-unit-tests:
          filters:
            branches:
              ignore:
                - master

#  deploy-release-tag:
#    jobs:
#      - verify-unit-tests:
#          filters:
#            tags:
#              only: /^v?((\d+\.))?(\d+\.)(\d+)-(dev|alpha|beta).*/
#            branches:
#              ignore: /.*/
#      - deploy-to-npm:
#          context: uport-open-automation
#          requires:
#            - verify-unit-tests
#          filters:
#            tags:
#              only: /^v?((\d+\.))?(\d+\.)(\d+)-(dev|alpha|beta).*/
#            branches:
#              ignore: /.*/

###############################################################
# Jobs
###############################################################

jobs:
  verify-unit-tests:
    working_directory: ~/project
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - *restore-npm-cache
      - run:
          name: Install node modules
          command: npm install
      - *save-npm-cache
      - run:
          name: Run unit tests
          command: npm run test:ci
#      - run:
#          name: Run lint
#          command: npm run lint
      - persist_to_workspace:
          root: ~/project
          paths:
            - node_modules

  run-semantic-release:
    working_directory: ~/project
    docker:
      - image: circleci/node:16
    steps:
      - checkout:
          path: ~/project
      - attach_workspace:
          at: ~/project
      - run:
          name: Semantic release
          command: |
            git config user.email $GH_EMAIL
            git config user.name $GH_USER
            npm run release
#
#  deploy-to-npm:
#    working_directory: ~/project
#    docker:
#      - image: circleci/node:12
#    steps:
#      - checkout:
#          path: ~/project
#      - attach_workspace:
#          at: ~/project
#      - run:
#          name: publish to npm
#          command: npm publish
